<div class="max-w-2xl mx-auto">
     <app-loading></app-loading>
          <ng-container *ngIf="isLoading">
        <form [formGroup]="actionForm" (ngSubmit)="submitForm()">
            <div class="mb-4 w-full bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600">
                <div class="flex justify-between items-center py-2 px-3 border-b dark:border-gray-600">
                    <div class="flex flex-wrap items-center divide-gray-200 sm:divide-x dark:divide-gray-600">
                       
                         <div class="mb-2">
                            <app-input-text formControlName="EmailSubject" placeholder="Asunto *"
                                [isNumber]="false"></app-input-text>

                        </div>
                         <div class="mb-2">
                <app-input-email formControlName="EmailReceiver" placeholder="Destinatario *"></app-input-email>

            </div>
                    </div>


                </div>
                <div class="py-2 px-4 bg-white rounded-b-lg dark:bg-gray-800">
                    <label for="editor" class="sr-only">Mensaje del email...</label>
                    <textarea id="editor" rows="8" formControlName="EmailBody"
                        class="block px-0 w-full text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
                        placeholder="Agregue la descripcion del servicio..." required></textarea>
                </div>
            </div>
            <button type="submit"
                class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
               Enviar Email
            </button>
        </form>
    </ng-container>
</div>
