<header class="fixed top-0 left-60 right-0 h-16 bg-white border-b border-gray-200 flex items-center justify-between fixed  px-4 z-50">
  <h1 class="text-xl font-bold text-gray-800">Panel de Administración</h1>
  <div class="space-x-5">
    <button class="cursor-pointer">
      <mat-icon fontIcon="notifications" class="mat-color"></mat-icon>
    </button>
    <!-- Botón de Perfil -->
    <button class="cursor-pointer">
        <mat-icon fontIcon="person" class="mat-color"></mat-icon>
    </button>
 


</div>


</header>
