<div class="px-4 py-4 h-full overflow-y-auto overflow-x-hidden">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-base text-blueGray-700">Tabla de usuarios</h3>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
        <button (click)="registrarCliente()"
          class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button">
          Agregar
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="clients?.length">
    <div class="flex flex-col space-y-12" *ngFor="let client of clients">
      <div class="flex flex-col border rounded-lg overflow-hidden bg-white mt-3">
        <div class="grid grid-cols-1 sm:grid-cols-4">
          <div class="flex flex-col border-b sm:border-b-0 items-center p-8 sm:px-4 sm:h-full sm:justify-center">
            <p class="text-7xl font-bold text-[#0ed3cf] rounded-full">{{ client.Name | firstLetterUppercase }}</p>
          </div>
          <div class="flex flex-col sm:border-l col-span-3">
            <div class="grid grid-cols-2 gap-4 p-6 text-gray-600">
            
              <app-card-details icon="face" color="mat-color" [message]="client.Name" placeholder="Nombre:"></app-card-details>
              <app-card-details icon="alternate_email" color="mat-color" [message]="client.Email" placeholder="Email:"></app-card-details>
              
              <app-card-details icon="badge" color="mat-color" [message]="client.Identification" placeholder="Identificacion:"></app-card-details>
              <app-card-details icon="call" color="mat-color" [message]="client.Phone" placeholder="Telefono:"></app-card-details>
            
            </div>
            <div class="flex flex-col w-full relative bottom-0">
              <div class="grid grid-cols-3 border-t divide-x  bg-gray-50 dark:bg-transparent py-3">

                <div class="cursor-pointer uppercase text-xs flex flex-row items-center justify-center font-semibold">
                  <app-button-icon icon="edit" color="icon-warning" message="update"
                    (clicked)="editarCliente(client.ClientId)"></app-button-icon>
                </div>
                <div class="cursor-pointer uppercase text-xs flex flex-row items-center justify-center font-semibold">
                  <app-button-icon icon="delete" color="icon-error" message="remove"
                    (clicked)="eliminarCliente(client.ClientId)"></app-button-icon>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inline-block min-w-full shadow rounded-lg overflow-x-auto">


      <app-paginator-table *ngIf="pagination" [pagination]="pagination"
        (paginationEvent)="clientPagination($event)"></app-paginator-table>
    </div>
  </ng-container>
  <ng-container *ngIf="!clients?.length">
    <app-information message="No existen clientes para mostrar."></app-information>

  </ng-container>

</div>