<div class="h-screen md:flex">
	<div
  class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-cyan-400 to-blue-900 justify-around items-center hidden">
  <div>
    <h1 class="text-white font-bold text-4xl font-sans">MotorSolution</h1>
    <p class="text-white mt-1">Lleva tu taller al siguiente nivel.</p>
    <button type="button" (click)="handleClick()"
      class="block w-50 bg-white text-sky-900 mt-4 py-2 rounded-2xl font-bold mb-2 cursor-pointer">Unete a nosotros.</button>
  </div>
  <div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
  <div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
  <div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
  <div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
</div>
	<div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
		<router-outlet></router-outlet>
	  </div>
</div>