<div class="h-screen  bg-gray-100">
  <section class="container text-gray-600 bg-gray-50">
    <ng-container *ngIf="statusSumary">
     
    <section class=" body-font   flex justify-center items-center">
    
      <div class=" px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4 text-center">
          <div class="p-4 sm:w-1/2 lg:w-1/3 w-full hover:scale-105 duration-500">
            <div class=" flex items-center  justify-between p-4  rounded-lg bg-white shadow-indigo-50 shadow-md">
              <div>
                <h2 class="text-gray-900 text-lg font-bold">Reparaciones</h2>
                <h3 class="mt-2 text-xl font-bold text-green-500 text-center">{{statusSumary.completado}}</h3>
                <p class="text-sm font-semibold text-gray-400">Completadas</p>

              </div>
              <div
                class="bg-gradient-to-tr from-green-500 to-green-500 w-20 h-20  rounded-full shadow-2xl shadow-green-400 border-white  border-dashed border-2  flex justify-center items-center ">
                <div>
                  <h1 class="text-white text-5xl">C</h1>
                </div>
              </div>
            </div>

          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/3 w-full hover:scale-105 duration-500">
            <div class=" flex items-center  justify-between p-4  rounded-lg bg-white shadow-indigo-50 shadow-md">
              <div>
                <h2 class="text-gray-900 text-lg font-bold">Reparaciones</h2>
                <h3 class="mt-2 text-xl font-bold text-cyan-500 text-center">{{statusSumary.en_proceso}}</h3>
                <p class="text-sm font-semibold text-gray-400">En proceso</p>

              </div>
              <div
                class="bg-gradient-to-tr from-cyan-500 to-cyan-400 w-20 h-20  rounded-full shadow-2xl shadow-cyan-400 border-white  border-dashed border-2  flex justify-center items-center ">
                <div>
                  <h1 class="text-white text-5xl">E</h1>
                </div>
              </div>
            </div>

          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/3 w-full hover:scale-105 duration-500">
            <div class=" flex items-center  justify-between p-4  rounded-lg bg-white shadow-indigo-50 shadow-md">
              <div>
                <h2 class="text-gray-900 text-lg font-bold">Reparaciones</h2>
                <h3 class="mt-2 text-xl font-bold text-yellow-500 text-center">{{statusSumary.pendiente}}</h3>
                <p class="text-sm font-semibold text-gray-400">Pendientes</p>

              </div>
              <div
                class="bg-gradient-to-tr from-yellow-500 to-yellow-400 w-20 h-20  rounded-full shadow-2xl shadow-yellow-400 border-white  border-dashed border-2  flex justify-center items-center ">
                <div>
                  <h1 class="text-white text-5xl">P</h1>
                </div>
              </div>

            </div>



          </div>
        </div>
      </div>
    </section>
  </ng-container>
   <ng-container *ngIf="companySumary">
     <div class="flex flex-col items-center gap-4 mb-6 pb-24">
        <div class="flex gap-4">
            <!-- Card 1 -->
            <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
                <h2 class="text-gray-500 font-medium text-sm">Total Usuarios</h2>
                <p class="text-2xl font-bold">{{companySumary.total_users}}</p>
                <span class="text-gray-400 text-sm mt-1">Numero de usuarios creados.</span>
            </div>

            <!-- Card 2 -->
            <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
                <h2 class="text-gray-500 font-medium text-sm">Total Clientes</h2>
                <p class="text-2xl font-bold">{{companySumary.total_clients}}</p>
                <span class="text-gray-400 text-sm mt-1">Numero de clientes creados.</span>
            </div>

            <!-- Card 3 -->
            <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
                <h2 class="text-gray-500 font-medium text-sm">Total de vehiculos</h2>
                <p class="text-2xl font-bold">{{companySumary.total_vehicles}}</p>
                <span class="text-gray-400 text-sm mt-1">Numero de vehiculos registrados.</span>
            </div>
             <!-- Card 4 -->
            <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
                <h2 class="text-gray-500 font-medium text-sm">Total Facturas</h2>
                <p class="text-2xl font-bold">{{companySumary.total_bills}}</p>
                <span class="text-gray-400 text-sm mt-1">Numero de facturas generadas.</span>
            </div>
        </div>
    </div>

  </ng-container>
  </section>

 

</div>