<form class="bg-white" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <h1 class="text-gray-800 font-bold text-2xl mb-1">Inicio de sesión usuarios.</h1>
    <p class="text-sm font-normal text-gray-600 mb-7">Accede a tú espacio.</p>

    <app-input-email formControlName="UserEmail" placeholder="Email"></app-input-email>
    <app-input-password formControlName="UserPassword" placeholder="Password"></app-input-password>

    <button type="submit"
      class="block w-full bg-blue-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2 cursor-pointer">Login</button>
    <div class="text-center mt-12">
        <span>
            ¿Eres una empresa?
        </span>
        <a href="/login/company" class="font-light text-md text-sky-600 underline font-semibold hover:text-sky-800">Inicia sesión aquí</a>
    </div>
  </form>
