 <div >
        <div class="flex justify-center mb-6">
            <span class="inline-block bg-gray-200 rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/></svg>
            </span>
        </div>
        <h2 class="text-2xl font-semibold text-center mb-4">{{ isEditMode | nameForm }} al usuario</h2>
        <p class="text-gray-600 text-center mb-6">Enter your details to register.</p>
        <form [formGroup]="actionForm" (ngSubmit)="submitForm()">
            <div class="mb-2">
                <app-input-text formControlName="username" placeholder="Nombre *" [isNumber]="false" ></app-input-text> 
              
            </div>
            <div class="mb-2">
                <app-input-email formControlName="useremail" placeholder="Email *" ></app-input-email> 
                
            </div>
            <ng-container *ngIf="!isEditMode">
                <div class="mb-6">
                    <app-input-password formControlName="password" placeholder="Password *"></app-input-password>
                    <p class="text-gray-600 text-xs mt-1">Must contain 1 uppercase letter, 1 number, min. 8 characters.</p>
                </div>
            </ng-container>
          
            <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">{{ isEditMode | nameForm }} usuario </button>
           
        </form>
 </div>
